> * {
  box-sizing: border-box;
}

body{
  background: red;
}

input, button{
  border: 0;
  outline: 0;
  background: none;
}

:root{
  --background: #ddd;
  --text: #222;

  // --accent: #F9F6EF;
  --accent: red;
}